# Dependency folders
node_modules/

# Local configuration files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build artifacts
dist/
build/
.next/

# Local mock databases
backend/src/data/*.json

# Logs & System Files
*.log
.DS_Store
Thumbs.db
